<div class="row justify-content-center">
    <div class="col-auto">
        <div class="row justify-content-center pt-5">
            <div class="col-auto">
                <img class="img-fluid"
                    style="height: 150px; width: 100%"
                    src="{{ url_for('static', filename='images/logo.png') }}" />
            </div>
        </div>
        <div class="row justify-content-center py-2">
            <div class="col-auto h3">
                {{ title }}
            </div>
        </div>
    </div>
</div>